/*
* {
	font-size: 100%;
	font-weight: normal;
}
*/

body {
	background-color: #f0f0f0;
	font: 10px Verdana, Arial, sans-serif !important;
	margin: 0;
	padding: 0;
}

form fieldset label, form fieldset input {
	display:block;
}

form fieldset input.text {
	margin-bottom: 12px;
	width: 95%;
	padding: .4em;
}

form fieldset {
	padding: 0;
	border: 0;
	margin-top: 25px;
}

.lim-menubar > ul {
	margin: 0 0 4em;
}

.lim-console {
	padding: 2px;
	font-size: 1em;
}

.lim-master .lim-master-header {
	display: table;
	margin-bottom: 0.5em;	
}
.lim-master .lim-master-header > div {
	display: table-row;
}
.lim-master .lim-master-header > div > div:first-child {
	display: table-cell;
	width: 35%;
}
.lim-master .lim-master-header > div > div:last-child {
	display: table-cell;
	width: 75%;
}
.lim-master-context-menu {
	display: none;
	position: absolute;
	z-index: 9999;
	padding: 10px;
}

.ui-menu {
	border-radius: 0;
}
.ui-menu-item > .ui-corner-all {
	border-radius: 0;
}
.ui-dialog .ui-dialog-titlebar {
	padding: 0.5em 0.5em 0.25em;
}
.ui-dialog .ui-dialog-titlebar-close {
	top: 58%;
}
.ui-dialog .ui-dialog-content {
	padding: 0.5em;
}
.dataTables_wrapper .ui-state-default, .dataTables_wrapper .ui-widget-content .ui-state-default, .dataTables_wrapper .ui-widget-header .ui-state-default {
    background: url("images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6;
}
.dataTables_info {
	width: auto;
}
.ui-tabs {
	padding: 0;
}
.ui-tabs .ui-tabs-panel {
	padding: 0.2em;
}
